<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.mapper.UserMapper">
    <!--查询单个对象，根据id-->
    <select id="findById" parameterType="int" resultType="User">
        select * from t_user where id = #{id}
    </select>

    <!--查询所有 返回值类型依然是User，泛型-->
    <select id="findAll" resultType="User">
        select * from t_user
    </select>

    <!--保存-->
    <insert id="save" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into t_user (user_name,user_address) values (#{userName},#{userAddress})
    </insert>

    <!--删除-->
    <delete id="delete" parameterType="int">
        delete from t_user where id = #{id}
    </delete>

    <!--修改-->
    <update id="update" parameterType="User">
        update t_user set user_name = #{userName},user_address = #{userAddress} where id = #{id}
    </update>
</mapper>