<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.mapper.UserMapper">
    <!--查询单个对象，根据id-->
    <select id="findById" parameterType="int" resultType="User">
        select * from t_user where id = #{id}
    </select>

    <!--查询所有 返回值类型依然是User，泛型-->
    <select id="findAll" resultType="User">
        select * from t_user
    </select>

    <!--保存-->
    <insert id="save" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into t_user (user_name,user_address) values (#{userName},#{userAddress})
    </insert>

    <!--删除-->
    <delete id="delete" parameterType="int">
        delete from t_user where id = #{id}
    </delete>

    <!--修改-->
    <update id="update" parameterType="User">
        update t_user set user_name = #{userName},user_address = #{userAddress} where id = #{id}
    </update>

    <!--分页，未加注解-->
    <select id="page" resultType="User">
        select * from t_user limit #{arg0},#{arg1}
    </select>

    <!--分页，加注解-->
    <select id="page1" resultType="User">
        select * from t_user limit #{start},#{size}
    </select>

    <!--封装到map集合中-->
    <select id="page2" resultType="User" parameterType="map">
        select * from t_user limit #{start},#{size}
    </select>
    
    <resultMap id="basemap" type="com.xq.entity.Student">
        <id column="id" property="id"/>
        <result column="stu_name" property="stuName"/>
        <result column="class_id" property="classId"/>
    </resultMap>
    <!--多对一的情况-->
    <select id="findByIdwithclass" parameterType="int" resultMap="classmap">
        select * from t_student stu inner join t_class ss on stu.class_id = ss.id where stu.id = #{id} 
    </select>
    
    <resultMap id="classmap" type="com.xq.entity.Student" extends="basemap">
        <association property="aClass" javaType="com.xq.entity.Class">
            <id column="id" property="id"/>
            <result column="class_name" property="className"/>
            <result column="address" property="address"/>
        </association>
    </resultMap>

    <!--一对多的情况-->
    <select id="findByIdwithtag" parameterType="int" resultMap="tagmap">
        select stu.id,stu.stu_name,tag.id tid,tag.tag_name from t_student stu inner join t_stu_tag st on stu.id = st.stu_id inner join t_tags tag on st.tag_id = tag.id where stu.id = #{id}
    </select>

    <resultMap id="tagmap" type="com.xq.entity.Student" extends="basemap">
        <collection property="tagList" ofType="com.xq.entity.Tag">
            <id column="tid" property="id"/>
            <result column="tag_name" property="tagName"/>
        </collection>
    </resultMap>
</mapper>