<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xu.mapper.KaolaMapper">

    <select id="findbyid" resultType="Kaola">
        select * from kaola where id = #{id}
    </select>

    <select id="findAllwithType" resultMap="kaolawithType">
        select
        kaola.*, type_name,
        parent_id
        FROM
        kaola
        LEFT JOIN kaola_type ON kaola.type_id = kaola_type.id
        order by kaola.id desc
    </select>
    <select id="findAllwithTypewithquerymap" resultMap="kaolawithType">
        select kaola.*,type_name,parent_id from kaola LEFT JOIN kaola_type on kaola.type_id = kaola_type.id
        <where>
            <if test="productName != null and productName != ''">
                kaola.product_name like concat("%",#{productName},"%")
            </if>
            <if test="place != null and place != ''">
               and kaola.place like concat("%",#{place},"%")
            </if>
            <if test="minPrice != null and minPrice != 0.0">
               and kaola.price >= #{minPrice}
            </if>
            <if test="maxPrice !=null and maxPrice != 0.0">
                and kaola.price &lt;= #{maxPrice}
            </if>
            <if test="typeId != null">
                and kaola.type_id = #{typeId}
            </if>
        </where>
        order by kaola.id desc
    </select>
    <resultMap id="kaolawithType" type="Kaola">
        <id column="id" property="id"/>
        <result column="product_name" property="productName"/>
        <result column="place" property="place"/>
        <result column="price" property="price"/>
        <result column="market_price" property="marketPrice"/>
        <result column="comment_num" property="commentNum"/>
        <result column="type_id" property="typeId"/>
        <association property="kaolaType" javaType="KaolaType">
            <id column="type_id" property="id"/>
            <result column="type_name" property="typeName"/>
            <result column="parent_id" property="parentId"/>
        </association>
    </resultMap>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into kaola (product_name, price, market_price, place, comment_num, type_id) values (#{productName},#{price},#{marketPrice},#{place},#{commentNum},#{typeId})
    </insert>

    <delete id="del">
        delete from kaola where id = #{id}
    </delete>

    <update id="edit">
        update kaola set product_name = #{productName},price = #{price},market_price = #{marketPrice},place = #{place},type_id = #{typeId},comment_num = #{commentNum} where id = #{id}
    </update>
</mapper>